
/* division styling */

body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(70, 18, 70);
    box-sizing: border-box;

}
.container{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: 3px solid rgb(98, 0, 255);
    border-radius: 10px;
    overflow: auto;
    background: rgb(226, 209, 189);
}

nav{
    text-align: center;
    line-height:20px;
    padding: 10px;
}
.style{
    width:30%;
    display: block;
    float: right;
    margin-left: 15px;
}
.music-list{
    list-style-type: none;
}


#front-main{
    float: left;
    width: 50%;
}

#front-aside{
    float: right;
    width: 41%;
    margin: 10px 5px;
    padding: 10px;
    align-content:flex-start;
}
main{
    padding: 10px 20px;
    box-sizing: border-box;
}

/* button styling */
.local-links{
    background: cornflowerblue;
    border: 2px solid rgb(70, 18, 70);
    text-align: center;
    width: 90%;
    margin: 10px auto;
    border-radius: 50px;
    padding: 10px;
}
.local-links a{
    margin-left:  15px;
}
nav a{
    background: rgb(70, 18, 70);
    border: 2px solid rgb(70, 18, 70);
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 10px;
    color: rgb(252, 233, 213);
}

nav a:hover, #current{
    background: rgb(226, 209, 189);
    color: rgb(85, 35, 85);
}

a {
    text-decoration: none;
    font-size: large;
    color: purple;
}

a:hover{
    text-decoration: underline;
    background-color: gold;
    color: purple;

}
#top-link{
    color: rgb(10, 75, 10);
    text-align: center;
}

/* text styling */

h1{
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    color: rgb(85, 35, 85);
}
h2{
    display: block;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(85, 35, 85);
}

h3{
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    color: rgb(85, 35, 85);
}

dt{
    font-weight: bold;
    color: rgb(85, 35, 85);
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0;
}



/* images */

#front-aside img {
    width: 80%;
    display: block;
    margin: 10px auto;
}

#logo {
    align-items: center;
    float: none;
    width: 10%;
}
#mehdi{
     width: 30%; 
     float: right;
}
#baraat{
    width: 390px; 
    float: left;
    padding-right: 80px;
}
#nikah-solaman {   
    width: 45%;
    height:90%;
    padding-right:15px; 
    float:left; 
}
#nikah {
    width:50%;
    height:50%;
    padding-right:15px; 
    float:right;
}
#nikahnight{
   width:50%;
    height:50%;
    padding-right:15px; 
    float:left; 
}
#bridearrival{
   width:50%;
    height:50%;
    padding-right:15px; 
    float:right;
}
#walima{
    width: 30%; 
    height: 70%; 
    margin-right:15px; 
    float:left;   
}
#understand{
    width:300px;
    float: right;
}
#cardinals{
    width:300px;
    float: left;  
}
#amethyst{
     width:300px;
    float: right;   
}

#george{
     width:300px;
    float: left;
}
#wofie {
     width:300px;
    float: right;
}

